
/*CLASSES*/
.red-text {
  color: red;
}
.smaller-text{
  width: 100px;
}
.thin-red-border{
  border-color: orange;
  border-width: 10px;
  border-style: solid;
  border-radius: 10px;
}
/*GENERIC*/
h2 {
  font-family: Lobster, monospace;
}

p {
  font-size: 16px;
  font-family: monospace;
}
